# Ignore macOS files
.DS_Store

# Ignore virtual environment
venv/

# Ignore files in data/raw and data/processed, but keep the folders
data/raw/*
data/processed/*

# Exclude .gitkeep to keep the folder structure in the repository
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

#Avoid uploading personal credentials file
personal.md
creds.json

#Exclude traning logs
train/tensorboard_logs

#Exclude mlflow logs
mlflow_startup_utils/

#But keep the startup.sh file
!mlflow_startup_utils/startup.sh

#Avoid local models
models/*

